.button {
  background: var(--purple);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font: var(--button);
  padding-inline-start: 24px;
  padding-inline-end: 24px;
  padding-block-start: 13px;
  padding-block-end: 13px;
  text-transform: uppercase;
}

.button.is-secundary {
  background: unset;
  border: 2px solid var(--purple);
  color: var(--purple);
}
