.hero {
  padding-block-start: 16px;
  overflow-x: hidden;
}
.hero-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-social {
  padding-block-end: 24px;
}

.hero-image {
  background: #6f34fe;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  height: 330px;
  border-bottom: 70px solid var(--white);
}

.hero h1 {
  font: var(--headline3);
  margin: 1rem 0 0;
}
.hero h1 span:nth-of-type(1) {
  font: var(--headline5);
  display: block;
}

.hero p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    gap: 32px;
  }
  .hero-description {
    order: 1;
    max-inline-size: 450px;
  }
  .hero-image {
    order: 2;
    text-align: end;
    flex: 1;
    background: none;
    border-bottom: none;
    width: auto;
    height: auto;
  }
}
